<% content_for :page_title do %>
404 Not Found
<% end %>

<% content_for :header_section do %>
  <div style="text-align: center; line-height: 2.0em">
    <h2 style="line-height: 2.0em">404 - Page Not Found<br>
      (＞人＜;)
      <br></h2>
    <div style="margin-top: 0px;">Ruby on Rails ガイド - 体系的に Rails を学ぼう</div>
    <hr>
    <div>Ask <a href="https://twitter.com/yasulab">@yasulab</a> if urgent.<br />
      Or, you can check out our <a href="https://github.com/yasslab/railsguides.jp">source code</a>.</div>
    <p>Thanks, Japanese RailsGuides team</p>
  </div>
<% end %>
