<h2>Ruby on Rails ガイド</h2> <!--(<%= @edge ? @edge[0, 7] : @version %>)-->
<% if @edge %> 
  本ガイドはEdge Guidesであり、現時点のmasterブランチをベースとしています。
  安定版のガイドが必要な場合は、http://guides.rubyonrails.orgを参照ください。
<% else %>
  Rails ガイドは、<a href="http://guides.rubyonrails.org/">Ruby on Rails Guides</a> に基づいた Rails 4.2 対応のリファレンスガイドです。本ガイドは、Rails開発で生産性を向上する方法や、各部品がどのように連携しているかなどを体系的に理解する上で役に立ちます。
<% end %>

<!--
  <p>Rails 2.3.x用のガイドについてはhttp://guides.rubyonrails.org/v2.3.11/を参照してください。</p>
  <p>Rails 4.0.x用のガイドについてはhttp://guides.rubyonrails.org/v4.0.4/を参照してください。</p>
  <br />
Rails 3.0用のガイドについては<a href="http://wiki.usagee.co.jp/ruby/rails/RailsGuides%E3%82%92%E3%82%86%E3%81%A3%E3%81%8F%E3%82%8A%E5%92%8C%E8%A8%B3%E3%81%97%E3%81%A6%E3%81%BF%E3%81%9F%E3%82%88">RailsGuidesをゆっくり和訳してみたよ </a> (提供: <a href="http://usagee.co.jp/">株式会社ウサギィ</a>) を参照してください。
-->
