<h2>Ruby on Rails ガイド</h2> <!--(<%= @edge ? @edge[0, 7] : @version %>)-->
<% if @edge %>
  Railsガイドは、<a href="http://guides.rubyonrails.org/">Ruby on Rails Guides</a>に基づいた大型リファレンスガイドです。Rails開発の生産性を高めたいときや、Railsの各機能を体系的に学びたいときに役立ちます。
<% else %>
  Railsガイドは、<a href="http://guides.rubyonrails.org/">Ruby on Rails Guides</a>に基づいた大型リファレンスガイドです。Rails開発の生産性を高めたいときや、Railsの各機能を体系的に学びたいときに役立ちます。
<% end %>
