<% content_for :i_am_top do %>
yes
<% end %>

<% content_for :page_title do %>
Ruby on Rails ガイド：体系的に Rails を学ぼう
<% end %>

<% content_for :header_section do %>
  <h2>Ruby on Rails ガイド</h2>
<% end %>

<% content_for :index_section do %>
  <div class="main-description">
   <dl>
    <dt>Railsの仕組みを体系的に学べる大型コンテンツ</dt>
    <dd><a href="http://guides.rubyonrails.org/" target="_blank" rel="noopener">Rails Guides</a> に基づいた1,600ページ超えの大型リファレンスです。</dd>
    <dt>プロダクト開発に役立つ実践的な知識が満載</dt>
    <dd><a href="https://railstutorial.jp/" target="_blank" rel="noopener">Railsチュートリアル</a>を完走し、プロダクト開発中の人に最適です。</dd>
    <dt>全文検索やバージョン毎の検索にも対応</dt>
    <dd><a href="https://railsguides.jp/pro">Proプラン</a>では、さらに効率的な活用をサポートします。</dd>
   </dl>
  </div>
  <div class="top-mainbutton">
    <a href="https://railsguides.jp/getting_started.html" class="main-button white-button">はじめる</a>
    <!--<a href="https://railsguides.jp/pro" class="main-button" id="pro-plan-link">Proプランを15日間お試し</a>-->
  </div>
<!--
気になる文章や間違ったコードを見つけたら GitHub の <a href="https://github.com/yasslab/railsguides.jp">yasslab/railsguides.jp</a> までお知らせください。本ガイドの品質向上に向けてご協力して頂けると嬉しいです :)
-->
<!--ol class="snsb" style="margin-left: 0px">
  <li><div class="fb-like" data-href="https://railsguides.jp/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
  <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://railsguides.jp/" data-text="Ruby on Rails ガイド：体系的に Rails を学ぼう" data-lang="en" data-hashtags="Railsガイド" data-via="RailsGuidesJP" width="100">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
  <li><a href="https://b.hatena.ne.jp/entry/s/railsguides.jp" class="hatena-bookmark-button" data-hatena-bookmark-title="Ruby on Rails ガイド：体系的に Rails を学ぼう" data-hatena-bookmark-layout="simple-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
  <li><a class="github-button" href="https://github.com/yasslab/railsguides.jp" data-show-count="true" aria-label="Star yasslab/railsguides.jp on GitHub">Star</a></li>
</ol-->

<div id="subCol" class="remove-bg-color" style='padding-bottom: 30px;'>
  <!--
  <aside id="toppage">
    <a href="https://railsguides.jp/pro"><img src="images/bnr-pro-plan.jpg" alt="RailsガイドProプラン" /></a>
  </aside>
  -->

  <div class="ebook">
    <a href="https://railsguides.jp/ebook"><img alt="電子書籍" src="/images/spinner.svg" id="ebook-ribbon" data-src="/images/rails_guides_ribbon.png" loading="lazy" class="lazyload"></a>
    <a href="https://railsguides.jp/ebook"><img alt="Railsガイド表紙" src="/images/spinner.svg" id="ebook-left"   data-src="/images/rails_guides_ebook_left.png" loading="lazy" class="lazyload"></a>
    <a href="https://railsguides.jp/ebook"><img alt="Railsガイドまえがき" src="/images/spinner.svg" id="ebook-right"  data-src="/images/rails_guides_ebook_right.png" loading="lazy" class="lazyload"></a>
    <!-- 電子書籍キャンペン中に表示
    <a href="https://railsguides.jp/ebook"><img id="ebook-left-discount"   src="/images/rails_guides_ebook_discount.png"></a>
    <a href="https://railsguides.jp/ebook"><img id="ebook-right"  src="/images/rails_guides_ebook_2_discount.png"></a>
    -->
    <a href="https://railsguides.jp/ebook" class="main-button ebook-button">電子書籍版を見る</a>
  </div>
</div>
<% end %>

<!-- お知らせセクション -->
<div class="announce">
  <p>Railsガイドは<a href='#supporters'>協賛企業</a>からのサポートを得て運営されています。（<a href='https://railsguides.jp/sponsors'>&raquo; 詳細を見る</a>）</p>
</div>
<div id="top-sponsor">
  <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7ITK7L&placement=railsguidesjp" id="_carbonads_js"></script>
</div>
<dl style='padding-top: 15px;'>
  <dd class="work-in-progress">このアイコンが付いているガイドは現在作業中 (WIP: Work In Progress) です。作業中のガイドはそれなりに有用ではありますが、不完全な情報やエラーが含まれている可能性があります。</dd>
</dl>
<% documents_by_section.each do |section| %><h3>
  <%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>

<h3 id="contributors"><a href="#contributors">協力・関連</a></h3>
<p>本サイトは、様々な支援によって支えられております。</p>

<ul style="list-style: none;">
  <li>共同発起人 (翻訳): <a href="https://www.linkedin.com/pub/shozo-hatta/11/349/930">八田 昌三</a> (<a href="https://twitter.com/hachi8833">@hachi8833</a>)</li>
  <li>共同発起人 (開発): <a href="https://www.facebook.com/yasulab">安川 要平</a> (<a href="https://twitter.com/yasulab">@yasulab</a>)</li>
  <li>コミッター (個人): <a href="https://twitter.com/spikeolaf">@spikeolaf</a>, <a href="https://github.com/riseshia">@riseshia</a>, <a href="https://twitter.com/netwillnet">@netwillnet</a></li>
  <li>運営:
    <a href="https://yasslab.jp/">YassLab 株式会社</a>
  </li>
  <li>後援:
    <a href="https://railsce.com/aboutus/">Rails技術者認定試験</a>
  </li>
  <li>支援:
    <a href="https://railsguides.jp/#supporters">&raquo; 協賛企業の一覧を見る</a>
  </li>
  <li>誤訳などを修正してくださった皆さん:
    <ul>
      <li><a href="https://github.com/yasslab/railsguides.jp/issues?q=is:issue">Issues</a></li>
      <li><a href="https://github.com/yasslab/railsguides.jp/pulls?q=is:pr">Pull Requests</a></li>
    </ul>
  </li>
</ul>

<ul style="list-style: none;">
  <li>関連する他のプロジェクト:
    <ul>
      <li>
	<a href='https://oss-gate.github.io/'>OSS Gate</a>
	(<a href='https://speakerdeck.com/yasslab/railsguides-as-an-oss-gate'>&raquo; OSS入門としてのRailsガイド</a>)
      </li>
      <li>
	<a href='https://everyleaf.github.io/hotwire_ja/'>Turbo Handbook - Hotwire 公式ハンドブック</a>
      </li>
      <li>
	<a href='https://railstutorial.jp/reading_guide'>読み物ガイド - Ruby on Railsチュートリアル</a>
      </li>
    </ul>
  </li>
</ul>
