<% content_for :not_need_feedback do %>
yes
<% end %>

<% content_for :page_title do %>
Ruby on Rails Guides: Optins
<% end %>

<% content_for :header_section do %>
<h2>電子書籍／セミナー</h2>

<p>電子書籍を載せる予定</p>

<% end %>
<h3 class="section">Railsガイド電子書籍</h3>
  <p>Railsについての説明を書く<br>どういう人におすすめ何かを書く。</p>
  <ul>
    <li>ターゲットユーザ１</li>
    <li>ターゲットユーザ２</li>
    <li>ターゲットユーザ３</li>
  </ul>

  <img class="ebook-double" src="/images/rails_guids_ebook_double.png">

  <h4>電子書籍の内容</h4>
  <div class="legal">
    <table border="0" cellpadding="9" cellspacing="1">
      <tr>
        <th>事業者名称<br>　</th>
        <td><a href="http://yasslab.jp/ja/">ヤスラボ</a> (代表: 安川 要平)<br>(<a href="/policy.html">特定商取引法に基づく表記について</a>)</td>
      </tr>
      <tr>
        <th>お支払い方法</th>
        <td>決済サービス「Gumroad」を利用したクレジットカードまたはPayPal決済</td>
      </tr>
      <tr>
        <th>販売価格<br>　</th>
        <td><b><s>4,800円</s> <font color="red"> 3,800円 (税抜)</font><br>初回キャンペーンの価格: 7月19日 23:59 まで</b></td>
      </tr>
      <tr>
        <th>商品の引渡し時期</th>
        <td>決済完了後、即時</td>
      </tr>
      <tr>
        <th>商品の引渡し方法</th>
        <td>Gumroad のページからダウンロードできます。</td>
      </tr>
      <tr>
        <th>お問い合わせ<br/>　</th>
        <td>電子メールにて yohei [at] yasslab.jp までご連絡ください。<br/>
          ([at]は「@」に書き換えて下さい)</td>
      </tr>
    </table>
  </div>

  <div class="gumroad-button">
    <a href="#" style="color:#fff;">購入する</a>
  </div>

  <h3 class="section">Rails 解説セミナー</h3>

  <img class="seminar_state" src="/images/seminar_state.png">

  <div class="seminar">
    <table>
      <thead>
        <tr>
          <th colspan="2">『Ruby on Rails ガイド』解説セミナー【Rails アップグレードガイド編】</th>
        </tr>
      </thead>
      <tbody>
        <tr class="available"><!-- available,full,finish-->
          <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27698"  style="color:#fff;">申し込む</a></td>
          <td>2015/07/18（土） 13:30 - 15:30 @ 東京</td>
        </tr>
      </tbody>
    </table>
    <table class="seminar">
      <thead>
        <tr>
          <th colspan="2">『Ruby on Rails ガイド』解説セミナー【Rails 4.0〜4.2までのリリースノートの解説編】</th>
        </tr>
      </thead>
      <tbody>
        <tr class="available"><!-- available,full,finish-->
          <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27773"  style="color:#fff;">申し込む</a></td>
          <td>2015/07/18（土） 16:00 - 18:00 @ 東京</td>
        </tr>
      </tbody>
    </table>
    <table class="seminar">
      <thead>
        <tr>
          <th colspan="2">『Ruby on Rails ガイド』解説セミナー【Rails アプリケーションのデバッグ編】</th>
        </tr>
      </thead>
      <tbody>
        <tr class="available"><!-- available,full,finish-->
          <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27774"  style="color:#fff;">申し込む</a></td>
          <td>2015/07/19（日） 13:30 - 15:30 @ 東京</td>
        </tr>
      </tbody>
    </table>
    <table class="seminar">
      <thead>
        <tr>
          <th colspan="2">『Ruby on Rails ガイド』解説セミナー【Rails国際化 (I18n) API編】</th>
        </tr>
      </thead>
      <tbody>
        <tr class="available"><!-- available,full,finish-->
          <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27774"  style="color:#fff;">申し込む</a></td>
          <td>2015/07/19（日） 16:00 - 18:00 @ 東京</td>
        </tr>
      </tbody>
    </table>
    <table class="seminar">
      <thead>
        <tr>
          <th colspan="2">『Ruby on Rails ガイド』解説セミナー【メール送信 (前編)】</th>
        </tr>
      </thead>
      <tbody>
        <tr class="available"><!-- available,full,finish-->
          <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27774"  style="color:#fff;">申し込む</a></td>
          <td>2015/07/20（月） 13:30 - 15:30 @ 東京</td>
        </tr>
      </tbody>
    </table>
    <table class="seminar">
      <thead>
        <tr>
          <th colspan="2">『Ruby on Rails ガイド』解説セミナー【メール送信 (後編)】</th>
        </tr>
      </thead>
      <tbody>
        <tr class="available"><!-- available,full,finish-->
          <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27774"  style="color:#fff;">申し込む</a></td>
          <td>2015/07/20（月） 16:00 - 18:00 @ 東京</td>
        </tr>
      </tbody>
    </table>
  </div>
