<% content_for :page_title do %>
電子書籍 (検索対応) | Rails ガイド
<% end %>

<% content_for :header_section do %>
<h2>電子書籍 (検索対応)</h2>
<p>
  Ruby on Rails公式ガイドが電子書籍になりました.<br />
  Railsの各機能の使い方からRailsに貢献する方法まで，<br />
  1,000ページ越えの一冊をお手元に置いてみませんか? </p>
<p><b>全文検索や逐語検索にも対応</b>しています!</p>

<ol class="snsb" style="margin-left: 0px; padding-top: 10px; margin-bottom: 5px">
  <li><div class="fb-like" data-href="https://railsguides.jp/options.html" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
  <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://railsguides.jp/options.html" data-text="電子書籍 (検索対応) | Railsガイド" data-lang="en" data-hashtags="Railsガイド" data-via="RailsGuidesJP" width="100">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
  <li><a href="https://b.hatena.ne.jp/entry/railsguides.jp/options.html" class="hatena-bookmark-button" data-hatena-bookmark-title="電子書籍 (検索対応) | Railsガイド" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
  <li><div class="g-plusone" data-size="medium" data-lang="ja"></div>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </li>
</ol>
<% end %>

<% content_for :not_need_feedback do %>
yes
<% end %>

<h3 id="ebook" class="section">Railsガイド 電子書籍版 (EPUB/PDF)</h3>
<ol style="list-style: none; margin-left: -0px;" class="bxslider">
  <li><img src="/images/rails_guides_ebook_double.png"></li>
  <li><img src="/images/ebook_toc_1.png"></li>
  <li><img src="/images/ebook_toc_2.png"></li>
  <li><img src="/images/ebook_toc_3.png"></li>
  <li><img src="/images/ebook_toc_4.png"></li>
  <li><img src="/images/ebook_toc_5.png"></li>
  <li><img src="/images/ebook_toc_6.png"></li>
  <li><img src="/images/ebook_toc_7.png"></li>
</ol>

<p>前作のRailsチュートリアルに続く第2弾の大型翻訳プロジェクトが、ついに電子書籍になりました!
   前作も700ページの大作でしたが、今作のRailsガイドは1,000ページ越えの超大作となっています。</p>
<p>また電子書籍版では、オフラインで見れるだけでなく、電子書籍内で<b>検索することも可能</b>になっています。このため、詳しく知りたい機能や調べたいメソッドなどを探すときに非常に便利です :)</p>

<a href="http://recordit.co/l8Wyl9OrGa"><img alt="Incremental Search Demo" src="/images/demo_search.gif" /></a>

<h4>対象読者</h4>
<ul>
  <li>Railsを使いたい方、あるいは本格的に使いこなしたい方</li>
  <li><a href="http://railstutorial.jp/">Railsチュートリアル</a>を読み終わった方（中級〜上級者向け）</li>
  <li>Railsを使って開発している方、<a href="http://www.railscp.com/">Rails技術者認定シルバー試験</a>の受験を考えている方</li>
</ul>


<h4>電子書籍の内容</h4>
<div class="legal">
  <table border="0" cellpadding="9" cellspacing="1">
    <tr>
      <th>事業者名称</th>
      <td><a href="http://yasslab.jp/ja/">YassLab</a> (代表: 安川 要平)<br>(<a href="/policy.html">特定商取引法に基づく表記について</a>)</td>
    </tr>
    <tr>
      <th>お支払い方法</th>
      <td>決済サービス「Gumroad」を利用したクレジットカードまたはPayPal決済</td>
    </tr>
    <tr>
      <th>販売価格</th>
      <td><b>4,800円 + 税</b><br>
      <!--<td><s>4,800円 + 税</s><br><b style="color: red;">3,800円 + 税 （期間：11月13日〜11月30日 23:59 ）</b></td>-->
    </tr>
    <tr>
      <th>商品の引渡し時期</th>
      <td>決済完了後、即時</td>
    </tr>
    <tr>
      <th>商品の引渡し方法</th>
      <td>Gumroad のページからダウンロードできます。</td>
    </tr>
    <tr>
      <th>お問い合わせ</th>
      <td>電子メールにて <i>yohei@yasslab.jp</i> または<br/>
	下記フォームからお問い合わせください。</td>
    </tr>
  </table>
</div>

<h4>電子書籍の目次</h4>
全1,030ページ (PDF版換算) <br />
<br />
<ul>
  <li>前書き</li>
  <li>第1章 Rails をはじめよう</li>
  <li>第2章 Active Record の基礎</li>
  <li>第3章 Active Record マイグレーション</li>
  <li>第4章 Active Record バリデーション</li>
  <li>第5章 Active Record コールバック</li>
  <li>第6章 Active Record の関連付け</li>
  <li>第7章 Active Record クエリインターフェイス</li>
  <li>第8章 Active Model の基礎</li>
  <li>第9章 Active View の概要</li>
  <li>第10章 レイアウトとレンダリング</li>
  <li>第11章 Action View フォームヘルパー</li>
  <li>第12章 Action Controller の概要</li>
  <li>第13章 Rails のルーティング</li>
  <li>第14章 Active Support コア拡張機能</li>
  <li>第15章 Rails 国際化 (I18n) API</li>
  <li>第16章 Action Mailer の基礎</li>
  <li>第17章 Active Job の基礎</li>
  <li>第18章 Rails テスティングガイド</li>
  <li>第19章 Rails セキュリティガイド</li>
  <li>第20章 Rails アプリケーションのデバッグ</li>
  <li>第21章 Rails アプリケーションを設定する</li>
  <li>第22章 Rails アプリケーションのコマンドラインツール</li>
  <li>第23章 アセットパイプライン</li>
  <li>第24章 Rails で JavaScript を使用する</li>
  <li>第25章 Rails エンジン入門</li>
  <li>第26章 Rails の初期化プロセス</li>
  <li>第27章 定数の自動読み込みと再読み込み</li>
  <li>第28章 Rails プラグイン作成入門</li>
  <li>第29章 Rails と Rack</li>
  <li>第30章 Rails ジェネレータとテンプレート入門</li>
  <li>第31章 Ruby on Rails に貢献する方法</li>
  <li>第32章 Rails コア開発環境の構築方法</li>
  <li>第33章 API ドキュメント作成ガイドライン</li>
  <li>第34章 Rails ガイドのガイドライン</li>
  <li>第35章 Ruby on Rails のメンテナンスポリシー</li>
  <li>第36章 Rails アップグレードガイド</li>
  <li>第37章 Ruby on Rails 4.2 リリースノート</li>
  <li>第38章 Ruby on Rails 4.1 リリースノート</li>
  <li>第39章 Ruby on Rails 4.0 リリースノート</li>
</ul>
※ 加筆修正により章番号がずれる可能性がありますが、内容に変わりはありません。


<div class="gumroad-button">
  <a href="https://gumroad.com/l/railsguidesjp_ebook"
     style="color:#fff;">電子書籍を購入する</a>
</div>
<div class="gumroad-button">
  <a href="https://gumroad.com/l/railsguidesjp_ebook_sample"
     style="color:#fff;">サンプルを読んでみる</a>
</div>
<br />
<br />
<p>「電子書籍が手元の端末で読めるかどうか不安」「中身をちょっと見てみたい」という場合は、上記のサンプルをダウンロードして事前に確認しておくと確実です :)</p>

<h4>売り上げについて</h4>

本書による売り上げは、本書の翻訳・編集に協力して頂いた方々への謝礼金や、ウェブサイトの維持・管理費、および、Railsガイドの継続的な更新費用に使わせて頂きます。Railsガイドの質を高く維持し、継続的に最新の情報にアップデートしていくことで、 全国のRuby/Railsコミュニティの活動に貢献できれば幸いです。ご協力の程、よろしくお願い致します。
<br />
<h4>法人向け販売について</h4>

転送・回し読み可能な法人向け販売にも対応しています。内容は上記の販売コンテンツと全く同じですが、<b>運営チームの同意の上で社内に転送・配送できる</b>という点が異なります。ご購入を検討されている方は<a href="#contact">お問い合わせ</a>フォームよりお気軽にご連絡ください :)
<br />

<h4>Rails技術者認定シルバー試験を検討されている方へ</h4>
Railsガイドは<a href="http://www.railscp.com/">Rails技術者認定シルバー試験</a>の推奨教材として認定されています。
シルバー試験の受験を検討されている方は、ぜひ試験の参考書としてお役立てください。
<br />
<br />
<a href="http://www.railscp.com/">
  <img src="/images/railscp_logo.png"
       alt="Rails技術者認定試験" /></a>

<!-- jQuery library (served from Google) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
<script src="/javascripts/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

<script type="text/javascript">
  slider = $('.bxslider').bxSlider({
    auto: true,
    speed: 300,
    pause: 6000,
    infiniteLoop: true,
    responsive: false,
  autoHover: true,
  startSlide: 0,
  slideWidth: 600,
    onSlideAfter: function(){
      slider.startAuto();
    }
  });
</script>
