<% content_for :page_title do %>
電子書籍／セミナー | Rails ガイド
<% end %>

<% content_for :header_section do %>
<h2>電子書籍／セミナー</h2>
<p>
  Ruby on Rails公式ガイドが電子書籍になりました.<br />
  Railsの各機能の使い方からRailsに貢献する方法まで，<br />
  1,000ページ越えの一冊をお手元に置いてみませんか? </p>
<p>また、Railsガイドの中の人が解説するセミナーも実施中です!</p>
<% end %>

<% content_for :not_need_feedback do %>
yes
<% end %>

<h3 class="section">Railsガイド 電子書籍版 (EPUB/PDF)</h3>
<img class="ebook-double" src="/images/rails_guids_ebook_double.png">
<br />
<br />
<p>前作のRailsチュートリアルに続く第2弾の大型翻訳プロジェクトが、ついに電子書籍になりました!
   前作も700ページの大作でしたが、今作のRailsガイドは1,000ページ越えの超大作となっています。</p>
<p>また電子書籍版では、オフラインで見れるだけでなく、電子書籍内で<b>検索することも可能</b>になっています。このため、詳しく知りたい機能や調べたいメソッドなどを探すのに非常に便利です :)</p>

<h4>対象読者</h4>
<ul>
  <li>Railsを使いたい方、あるいは本格的に使いこなしたい方</li>
  <li><a href="http://railstutorial.jp/">Railsチュートリアル</a>を読み終わった方（中級〜上級者向け）</li>
  <li>Railsを使って開発している方</li>
</ul>

<h4>電子書籍の内容</h4>
<div class="legal">
  <table border="0" cellpadding="9" cellspacing="1">
    <tr>
      <th>事業者名称<br>　</th>
      <td><a href="http://yasslab.jp/ja/">ヤスラボ</a> (代表: 安川 要平)<br>(<a href="/policy.html">特定商取引法に基づく表記について</a>)</td>
    </tr>
    <tr>
      <th>お支払い方法</th>
      <td>決済サービス「Gumroad」を利用したクレジットカードまたはPayPal決済</td>
    </tr>
    <tr>
      <th>販売価格<br>　</th>
      <td><b><s>4,800円</s> <font color="red"> 3,800円 (税抜)</font><br>初回キャンペーンの価格: 7月19日 23:59 まで</b></td>
    </tr>
    <tr>
      <th>商品の引渡し時期</th>
      <td>決済完了後、即時</td>
    </tr>
    <tr>
      <th>商品の引渡し方法</th>
      <td>Gumroad のページからダウンロードできます。</td>
    </tr>
    <tr>
      <th>お問い合わせ<br/>　</th>
      <td>電子メールにて <i>yohei@yasslab.jp</i> または<br/>
	下記フォームからお問い合わせください。</td>
    </tr>
  </table>
</div>

<div class="gumroad-button">
  <a href="https://gumroad.com/l/railsguidesjp_ebook/kickoff_campaign"
     style="color:#fff;">電子書籍を購入する</a>
</div>
<div class="gumroad-button">
  <a href="https://gumroad.com/l/railsguidesjp_ebook_sample"
     style="color:#fff;">サンプルを読んでみる</a>
</div>
<br />
<br />
<p>「電子書籍が手元の端末で読めるかどうか不安」「中身をちょっと見てみたい」という場合は、上記のサンプルをダウンロードして事前に確認しておくと確実です :)</p>

<h4>売り上げについて</h4>

本書による売り上げは、本書の翻訳・編集に協力して頂いた方々への謝礼金や、ウェブサイトの維持・管理費、および、Railsガイドの継続的な更新費用に使わせて頂きます。Railsガイドの質を高く維持し、継続的に最新の情報にアップデートしていくことで、 全国のRuby/Railsコミュニティの活動に貢献できれば幸いです。ご協力の程、よろしくお願い致します。
<br />
<br />
<br />
<h3 class="section">Railsガイド解説セミナー</h3>
<img class="seminar_state" src="/images/seminar_state.png">
<br />
<br />
<p>Railsガイドの制作に携わっているヤスラボの中の人が、Railsガイドを解説します!<br />
対話形式でRailsを学びたい方やRails開発でお困りの方などにオススメです :)</p>
<div class="seminar">
  <table>
    <thead>
      <tr>
        <th colspan="2">『Ruby on Rails ガイド』解説セミナー【Rails アップグレードガイド編】</th>
      </tr>
    </thead>
    <tbody>
      <tr class="available"><!-- available,full,finish-->
        <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27698"  style="color:#fff;">申し込む</a></td>
        <td>2015/07/18（土） 13:30 - 15:30 @ 東京</td>
      </tr>
    </tbody>
  </table>
  <table class="seminar">
    <thead>
      <tr>
        <th colspan="2">『Ruby on Rails ガイド』解説セミナー【Rails 4.0〜4.2までのリリースノートの解説編】</th>
      </tr>
    </thead>
    <tbody>
      <tr class="available"><!-- available,full,finish-->
        <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27773"  style="color:#fff;">申し込む</a></td>
        <td>2015/07/18（土） 16:00 - 18:00 @ 東京</td>
      </tr>
    </tbody>
  </table>
  <table class="seminar">
    <thead>
      <tr>
        <th colspan="2">『Ruby on Rails ガイド』解説セミナー【Rails アプリケーションのデバッグ編】</th>
      </tr>
    </thead>
    <tbody>
      <tr class="available"><!-- available,full,finish-->
        <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27774"  style="color:#fff;">申し込む</a></td>
        <td>2015/07/19（日） 13:30 - 15:30 @ 東京</td>
      </tr>
    </tbody>
  </table>
  <table class="seminar">
    <thead>
      <tr>
        <th colspan="2">『Ruby on Rails ガイド』解説セミナー【Rails国際化 (I18n) API編】</th>
      </tr>
    </thead>
    <tbody>
      <tr class="available"><!-- available,full,finish-->
        <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27775"  style="color:#fff;">申し込む</a></td>
        <td>2015/07/19（日） 16:00 - 18:00 @ 東京</td>
      </tr>
    </tbody>
  </table>
  <table class="seminar">
    <thead>
      <tr>
        <th colspan="2">『Ruby on Rails ガイド』解説セミナー【メール送信 (前編)】</th>
      </tr>
    </thead>
    <tbody>
      <tr class="available"><!-- available,full,finish-->
        <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27776"  style="color:#fff;">申し込む</a></td>
        <td>2015/07/20（月） 13:30 - 15:30 @ 東京</td>
      </tr>
    </tbody>
  </table>
  <table class="seminar">
    <thead>
      <tr>
        <th colspan="2">『Ruby on Rails ガイド』解説セミナー【メール送信 (後編)】</th>
      </tr>
    </thead>
    <tbody>
      <tr class="available"><!-- available,full,finish-->
        <td class="state"><a href="https://coedo-rails.doorkeeper.jp/events/27777"  style="color:#fff;">申し込む</a></td>
        <td>2015/07/20（月） 16:00 - 18:00 @ 東京</td>
      </tr>
    </tbody>
  </table>
</div>
<p><b>社内で実施して欲しい</b>、<b>別の場所でも実施して欲しい</b>などのご要望がありましたら<br />
<a href="#contact">お問い合わせ</a>よりお気軽にご相談ください。</p>
