<% content_for :page_title do %>
Ruby on Rails Guides: Optins
<% end %>

<% content_for :header_section do %>
<h2>電子書籍／セミナー情報</h2>

<p>電子書籍やセミナー情報を載せる予定</p>

<% end %>

<h3 class="section">電子書籍</h3>


<h3 class="section">セミナー</h3>
