
<!--Ruby on Railsガイド (<%= @edge ? @version[0, 7] : @version %>)-->
<% if @edge %> 
本ガイドはEdge Guidesであり、現時点のmasterブランチをベースとしています。
安定版のガイドが必要な場合は、http://guides.rubyonrails.orgを参照ください。
<% else %>
本ガイドは、<a href="http://guides.rubyonrails.org/">Ruby on Rails Guides</a>に基づいた、Ruby on Rails 4.1 用の日本語リファンレンスマニュアルです。本ガイドは，Railsでの生産性向上に役立ち、各部品がどのように連携しているかを理解する上でも役に立ちます。
<% end %> 
<ul>
  <li>Rails 4.0.x用のガイドについてはhttp://guides.rubyonrails.org/v4.0.4/を参照してください。</li>
  <li>Rails 3.2.x用のガイドについてはhttp://guides.rubyonrails.org/v3.2.17/を参照してください。</li>
  <li>Rails 2.3.x用のガイドについてはhttp://guides.rubyonrails.org/v2.3.11/を参照してください。</li>
</ul>
