$main-dark: #980905;
$main: #c52f24;
$main-light: #da6258;
$main-lighter: #f1938c;
$main-lightest: #ffeded;
$main-vivid: #ff5959;
$blue: #5280dd;
$blue-light: #e4f4ff;
$yellow-light: #fff9d8;
$green: #3c763d;
$green-lightest: #dff0d8;
$yellow-dark: #8a6d3b;
$orange-light: #f7e1b5;
$red-light-dull: #e4b9c0;

$black: #222;
$gray-dark: #333;
$gray-light: #999;
$gray-lighter: #eee;

$code-bg: #f4f4f4;
